--
-- PostgreSQL database dump
--

\restrict J0Mc1f2n78o4oTkTLvYeV67nipp0WYoL4j0kQ929D58nO5Fdhm7iiegbh1AKgB9

-- Dumped from database version 13.23
-- Dumped by pg_dump version 13.23

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cuestionarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cuestionarios (
    id bigint NOT NULL,
    modulo_id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    min_aprobacion integer DEFAULT 75 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.cuestionarios OWNER TO postgres;

--
-- Name: cuestionarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cuestionarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cuestionarios_id_seq OWNER TO postgres;

--
-- Name: cuestionarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cuestionarios_id_seq OWNED BY public.cuestionarios.id;


--
-- Name: cursos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cursos (
    id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    descripcion text,
    fecha_inicio date,
    fecha_fin date,
    user_id bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    carga_horaria integer DEFAULT 0 NOT NULL,
    imagen_referencial character varying(255),
    categoria character varying(255)
);


ALTER TABLE public.cursos OWNER TO postgres;

--
-- Name: cursos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cursos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cursos_id_seq OWNER TO postgres;

--
-- Name: cursos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cursos_id_seq OWNED BY public.cursos.id;


--
-- Name: evaluaciones_finales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluaciones_finales (
    id bigint NOT NULL,
    curso_id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    min_aprobacion integer DEFAULT 75 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.evaluaciones_finales OWNER TO postgres;

--
-- Name: evaluaciones_finales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.evaluaciones_finales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.evaluaciones_finales_id_seq OWNER TO postgres;

--
-- Name: evaluaciones_finales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.evaluaciones_finales_id_seq OWNED BY public.evaluaciones_finales.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO postgres;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.failed_jobs_id_seq OWNER TO postgres;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materials (
    id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    tipo character varying(255) NOT NULL,
    url character varying(255) NOT NULL,
    orden integer DEFAULT 1 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    modulo_id bigint
);


ALTER TABLE public.materials OWNER TO postgres;

--
-- Name: materials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.materials_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.materials_id_seq OWNER TO postgres;

--
-- Name: materials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.materials_id_seq OWNED BY public.materials.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: modulos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modulos (
    id bigint NOT NULL,
    curso_id bigint NOT NULL,
    titulo character varying(255),
    orden integer DEFAULT 1 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.modulos OWNER TO postgres;

--
-- Name: modulos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.modulos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modulos_id_seq OWNER TO postgres;

--
-- Name: modulos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.modulos_id_seq OWNED BY public.modulos.id;


--
-- Name: opciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.opciones (
    id bigint NOT NULL,
    pregunta_id bigint NOT NULL,
    opcion text NOT NULL,
    es_correcta boolean DEFAULT false NOT NULL,
    orden integer DEFAULT 1 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.opciones OWNER TO postgres;

--
-- Name: opciones_evaluacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.opciones_evaluacion (
    id bigint NOT NULL,
    pregunta_evaluacion_id bigint NOT NULL,
    opcion text NOT NULL,
    es_correcta boolean DEFAULT false NOT NULL,
    orden integer DEFAULT 1 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.opciones_evaluacion OWNER TO postgres;

--
-- Name: opciones_evaluacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.opciones_evaluacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.opciones_evaluacion_id_seq OWNER TO postgres;

--
-- Name: opciones_evaluacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.opciones_evaluacion_id_seq OWNED BY public.opciones_evaluacion.id;


--
-- Name: opciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.opciones_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.opciones_id_seq OWNER TO postgres;

--
-- Name: opciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.opciones_id_seq OWNED BY public.opciones.id;


--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_resets (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_resets OWNER TO postgres;

--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO postgres;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.personal_access_tokens_id_seq OWNER TO postgres;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: preguntas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas (
    id bigint NOT NULL,
    cuestionario_id bigint NOT NULL,
    pregunta text NOT NULL,
    orden integer DEFAULT 1 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.preguntas OWNER TO postgres;

--
-- Name: preguntas_evaluacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_evaluacion (
    id bigint NOT NULL,
    evaluacion_final_id bigint NOT NULL,
    pregunta text NOT NULL,
    orden integer DEFAULT 1 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.preguntas_evaluacion OWNER TO postgres;

--
-- Name: preguntas_evaluacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.preguntas_evaluacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.preguntas_evaluacion_id_seq OWNER TO postgres;

--
-- Name: preguntas_evaluacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.preguntas_evaluacion_id_seq OWNED BY public.preguntas_evaluacion.id;


--
-- Name: preguntas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.preguntas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.preguntas_id_seq OWNER TO postgres;

--
-- Name: preguntas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.preguntas_id_seq OWNED BY public.preguntas.id;


--
-- Name: progreso_cursos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progreso_cursos (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    curso_id bigint NOT NULL,
    estado character varying(255) DEFAULT 'iniciado'::character varying NOT NULL,
    fecha_inicio timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_fin timestamp(0) without time zone,
    evaluacion_aprobada boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    modulo_actual integer DEFAULT 1 NOT NULL,
    material_actual integer DEFAULT 1 NOT NULL,
    completado_at timestamp(0) without time zone
);


ALTER TABLE public.progreso_cursos OWNER TO postgres;

--
-- Name: progreso_cursos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.progreso_cursos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.progreso_cursos_id_seq OWNER TO postgres;

--
-- Name: progreso_cursos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.progreso_cursos_id_seq OWNED BY public.progreso_cursos.id;


--
-- Name: progreso_materiales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progreso_materiales (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    material_id bigint NOT NULL,
    completado boolean DEFAULT false NOT NULL,
    completado_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.progreso_materiales OWNER TO postgres;

--
-- Name: progreso_materiales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.progreso_materiales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.progreso_materiales_id_seq OWNER TO postgres;

--
-- Name: progreso_materiales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.progreso_materiales_id_seq OWNED BY public.progreso_materiales.id;


--
-- Name: respuestas_cuestionario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.respuestas_cuestionario (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    cuestionario_id bigint NOT NULL,
    pregunta_id bigint NOT NULL,
    opcion_seleccionada_id bigint NOT NULL,
    es_correcta boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.respuestas_cuestionario OWNER TO postgres;

--
-- Name: respuestas_cuestionario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.respuestas_cuestionario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.respuestas_cuestionario_id_seq OWNER TO postgres;

--
-- Name: respuestas_cuestionario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.respuestas_cuestionario_id_seq OWNED BY public.respuestas_cuestionario.id;


--
-- Name: resultados_cuestionario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resultados_cuestionario (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    modulo_id bigint NOT NULL,
    cuestionario_id bigint NOT NULL,
    nota integer DEFAULT 0 NOT NULL,
    aprobado boolean DEFAULT false NOT NULL,
    completado_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.resultados_cuestionario OWNER TO postgres;

--
-- Name: resultados_cuestionario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resultados_cuestionario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.resultados_cuestionario_id_seq OWNER TO postgres;

--
-- Name: resultados_cuestionario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resultados_cuestionario_id_seq OWNED BY public.resultados_cuestionario.id;


--
-- Name: resultados_evaluacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resultados_evaluacion (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    curso_id bigint NOT NULL,
    nota integer DEFAULT 0 NOT NULL,
    aprobado boolean DEFAULT false NOT NULL,
    completado_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.resultados_evaluacion OWNER TO postgres;

--
-- Name: resultados_evaluacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resultados_evaluacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.resultados_evaluacion_id_seq OWNER TO postgres;

--
-- Name: resultados_evaluacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resultados_evaluacion_id_seq OWNED BY public.resultados_evaluacion.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    role character varying(255) DEFAULT 'docente'::character varying NOT NULL,
    curso_en_progreso_id bigint,
    primer_nombre character varying(255),
    segundo_nombre character varying(255),
    primer_apellido character varying(255),
    segundo_apellido character varying(255)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: cuestionarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuestionarios ALTER COLUMN id SET DEFAULT nextval('public.cuestionarios_id_seq'::regclass);


--
-- Name: cursos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cursos ALTER COLUMN id SET DEFAULT nextval('public.cursos_id_seq'::regclass);


--
-- Name: evaluaciones_finales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluaciones_finales ALTER COLUMN id SET DEFAULT nextval('public.evaluaciones_finales_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: materials id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials ALTER COLUMN id SET DEFAULT nextval('public.materials_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: modulos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modulos ALTER COLUMN id SET DEFAULT nextval('public.modulos_id_seq'::regclass);


--
-- Name: opciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones ALTER COLUMN id SET DEFAULT nextval('public.opciones_id_seq'::regclass);


--
-- Name: opciones_evaluacion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_evaluacion ALTER COLUMN id SET DEFAULT nextval('public.opciones_evaluacion_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: preguntas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas ALTER COLUMN id SET DEFAULT nextval('public.preguntas_id_seq'::regclass);


--
-- Name: preguntas_evaluacion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_evaluacion ALTER COLUMN id SET DEFAULT nextval('public.preguntas_evaluacion_id_seq'::regclass);


--
-- Name: progreso_cursos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos ALTER COLUMN id SET DEFAULT nextval('public.progreso_cursos_id_seq'::regclass);


--
-- Name: progreso_materiales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales ALTER COLUMN id SET DEFAULT nextval('public.progreso_materiales_id_seq'::regclass);


--
-- Name: respuestas_cuestionario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_cuestionario ALTER COLUMN id SET DEFAULT nextval('public.respuestas_cuestionario_id_seq'::regclass);


--
-- Name: resultados_cuestionario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_cuestionario ALTER COLUMN id SET DEFAULT nextval('public.resultados_cuestionario_id_seq'::regclass);


--
-- Name: resultados_evaluacion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_evaluacion ALTER COLUMN id SET DEFAULT nextval('public.resultados_evaluacion_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: cuestionarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cursos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evaluaciones_finales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluaciones_finales (id, curso_id, titulo, min_aprobacion, created_at, updated_at) FROM stdin;
11	30	Evaluaci├│n Final	80	2026-03-26 17:16:50	2026-03-26 17:16:50
12	31	Evaluaci├│n Final	80	2026-03-26 17:18:26	2026-03-26 17:18:26
13	32	Evaluaci├│n Final	80	2026-03-31 16:50:57	2026-03-31 16:50:57
15	43	Evaluaci├│n Final de Desarrollo Web	80	2026-04-15 16:42:58	2026-04-15 16:42:58
16	44	Evaluaci├│n Final	80	2026-04-16 16:04:09	2026-04-16 16:04:09
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: materials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modulos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: opciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: opciones_evaluacion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_resets (email, token, created_at) FROM stdin;
ayrton.rios@unas.edu.pe	HfQ0c6lKUcZbjjZfggJ7DUjcqTXUHqW1bX5KRh7vaOujG0JYaq9iajN5TYEH	2026-04-17 18:54:30
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.personal_access_tokens (id, tokenable_type, tokenable_id, name, token, abilities, last_used_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: preguntas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_evaluacion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: progreso_cursos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: progreso_materiales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: respuestas_cuestionario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.respuestas_cuestionario (id, user_id, cuestionario_id, pregunta_id, opcion_seleccionada_id, es_correcta, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: resultados_cuestionario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: resultados_evaluacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resultados_evaluacion (id, user_id, curso_id, nota, aprobado, completado_at, created_at, updated_at) FROM stdin;
3	5	30	100	t	2026-03-31 15:51:42	2026-03-31 15:26:00	2026-03-31 15:51:42
4	5	31	100	t	2026-03-31 15:53:05	2026-03-31 15:53:05	2026-03-31 15:53:05
5	5	32	100	t	2026-03-31 18:22:27	2026-03-31 18:22:27	2026-03-31 18:22:27
6	8	32	100	t	2026-04-08 17:30:58	2026-04-08 17:30:58	2026-04-08 17:30:58
8	5	43	100	t	2026-04-15 17:08:51	2026-04-15 17:08:51	2026-04-15 17:08:51
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: cuestionarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cuestionarios_id_seq', 26, true);


--
-- Name: cursos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cursos_id_seq', 44, true);


--
-- Name: evaluaciones_finales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluaciones_finales_id_seq', 16, true);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: materials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.materials_id_seq', 60, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 18, true);


--
-- Name: modulos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.modulos_id_seq', 55, true);


--
-- Name: opciones_evaluacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.opciones_evaluacion_id_seq', 87, true);


--
-- Name: opciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.opciones_id_seq', 137, true);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 1, false);


--
-- Name: preguntas_evaluacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_evaluacion_id_seq', 29, true);


--
-- Name: preguntas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_id_seq', 48, true);


--
-- Name: progreso_cursos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progreso_cursos_id_seq', 19, true);


--
-- Name: progreso_materiales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progreso_materiales_id_seq', 57, true);


--
-- Name: respuestas_cuestionario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.respuestas_cuestionario_id_seq', 1, false);


--
-- Name: resultados_cuestionario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resultados_cuestionario_id_seq', 22, true);


--
-- Name: resultados_evaluacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resultados_evaluacion_id_seq', 8, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: cuestionarios cuestionarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuestionarios
    ADD CONSTRAINT cuestionarios_pkey PRIMARY KEY (id);


--
-- Name: cursos cursos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cursos
    ADD CONSTRAINT cursos_pkey PRIMARY KEY (id);


--
-- Name: evaluaciones_finales evaluaciones_finales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluaciones_finales
    ADD CONSTRAINT evaluaciones_finales_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: modulos modulos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modulos
    ADD CONSTRAINT modulos_pkey PRIMARY KEY (id);


--
-- Name: opciones_evaluacion opciones_evaluacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_evaluacion
    ADD CONSTRAINT opciones_evaluacion_pkey PRIMARY KEY (id);


--
-- Name: opciones opciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones
    ADD CONSTRAINT opciones_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: preguntas_evaluacion preguntas_evaluacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_evaluacion
    ADD CONSTRAINT preguntas_evaluacion_pkey PRIMARY KEY (id);


--
-- Name: preguntas preguntas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas
    ADD CONSTRAINT preguntas_pkey PRIMARY KEY (id);


--
-- Name: progreso_cursos progreso_cursos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos
    ADD CONSTRAINT progreso_cursos_pkey PRIMARY KEY (id);


--
-- Name: progreso_cursos progreso_cursos_user_id_curso_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos
    ADD CONSTRAINT progreso_cursos_user_id_curso_id_unique UNIQUE (user_id, curso_id);


--
-- Name: progreso_materiales progreso_materiales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales
    ADD CONSTRAINT progreso_materiales_pkey PRIMARY KEY (id);


--
-- Name: progreso_materiales progreso_materiales_user_id_material_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales
    ADD CONSTRAINT progreso_materiales_user_id_material_id_unique UNIQUE (user_id, material_id);


--
-- Name: respuestas_cuestionario respuestas_cuestionario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_cuestionario
    ADD CONSTRAINT respuestas_cuestionario_pkey PRIMARY KEY (id);


--
-- Name: resultados_cuestionario resultados_cuestionario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_cuestionario
    ADD CONSTRAINT resultados_cuestionario_pkey PRIMARY KEY (id);


--
-- Name: resultados_cuestionario resultados_cuestionario_user_id_modulo_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_cuestionario
    ADD CONSTRAINT resultados_cuestionario_user_id_modulo_id_unique UNIQUE (user_id, modulo_id);


--
-- Name: resultados_evaluacion resultados_evaluacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_evaluacion
    ADD CONSTRAINT resultados_evaluacion_pkey PRIMARY KEY (id);


--
-- Name: resultados_evaluacion resultados_evaluacion_user_id_curso_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_evaluacion
    ADD CONSTRAINT resultados_evaluacion_user_id_curso_id_unique UNIQUE (user_id, curso_id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: password_resets_email_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX password_resets_email_index ON public.password_resets USING btree (email);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: cuestionarios cuestionarios_modulo_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuestionarios
    ADD CONSTRAINT cuestionarios_modulo_id_foreign FOREIGN KEY (modulo_id) REFERENCES public.modulos(id) ON DELETE CASCADE;


--
-- Name: cursos cursos_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cursos
    ADD CONSTRAINT cursos_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: evaluaciones_finales evaluaciones_finales_curso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluaciones_finales
    ADD CONSTRAINT evaluaciones_finales_curso_id_foreign FOREIGN KEY (curso_id) REFERENCES public.cursos(id) ON DELETE CASCADE;


--
-- Name: materials materials_modulo_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_modulo_id_foreign FOREIGN KEY (modulo_id) REFERENCES public.modulos(id) ON DELETE CASCADE;


--
-- Name: modulos modulos_curso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modulos
    ADD CONSTRAINT modulos_curso_id_foreign FOREIGN KEY (curso_id) REFERENCES public.cursos(id) ON DELETE CASCADE;


--
-- Name: opciones_evaluacion opciones_evaluacion_pregunta_evaluacion_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_evaluacion
    ADD CONSTRAINT opciones_evaluacion_pregunta_evaluacion_id_foreign FOREIGN KEY (pregunta_evaluacion_id) REFERENCES public.preguntas_evaluacion(id) ON DELETE CASCADE;


--
-- Name: opciones opciones_pregunta_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones
    ADD CONSTRAINT opciones_pregunta_id_foreign FOREIGN KEY (pregunta_id) REFERENCES public.preguntas(id) ON DELETE CASCADE;


--
-- Name: preguntas preguntas_cuestionario_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas
    ADD CONSTRAINT preguntas_cuestionario_id_foreign FOREIGN KEY (cuestionario_id) REFERENCES public.cuestionarios(id) ON DELETE CASCADE;


--
-- Name: preguntas_evaluacion preguntas_evaluacion_evaluacion_final_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_evaluacion
    ADD CONSTRAINT preguntas_evaluacion_evaluacion_final_id_foreign FOREIGN KEY (evaluacion_final_id) REFERENCES public.evaluaciones_finales(id) ON DELETE CASCADE;


--
-- Name: progreso_cursos progreso_cursos_curso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos
    ADD CONSTRAINT progreso_cursos_curso_id_foreign FOREIGN KEY (curso_id) REFERENCES public.cursos(id) ON DELETE CASCADE;


--
-- Name: progreso_cursos progreso_cursos_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos
    ADD CONSTRAINT progreso_cursos_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: progreso_materiales progreso_materiales_material_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales
    ADD CONSTRAINT progreso_materiales_material_id_foreign FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE CASCADE;


--
-- Name: progreso_materiales progreso_materiales_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales
    ADD CONSTRAINT progreso_materiales_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: respuestas_cuestionario respuestas_cuestionario_cuestionario_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_cuestionario
    ADD CONSTRAINT respuestas_cuestionario_cuestionario_id_foreign FOREIGN KEY (cuestionario_id) REFERENCES public.cuestionarios(id) ON DELETE CASCADE;


--
-- Name: respuestas_cuestionario respuestas_cuestionario_opcion_seleccionada_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_cuestionario
    ADD CONSTRAINT respuestas_cuestionario_opcion_seleccionada_id_foreign FOREIGN KEY (opcion_seleccionada_id) REFERENCES public.opciones(id) ON DELETE CASCADE;


--
-- Name: respuestas_cuestionario respuestas_cuestionario_pregunta_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_cuestionario
    ADD CONSTRAINT respuestas_cuestionario_pregunta_id_foreign FOREIGN KEY (pregunta_id) REFERENCES public.preguntas(id) ON DELETE CASCADE;


--
-- Name: respuestas_cuestionario respuestas_cuestionario_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_cuestionario
    ADD CONSTRAINT respuestas_cuestionario_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: resultados_cuestionario resultados_cuestionario_cuestionario_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_cuestionario
    ADD CONSTRAINT resultados_cuestionario_cuestionario_id_foreign FOREIGN KEY (cuestionario_id) REFERENCES public.cuestionarios(id) ON DELETE CASCADE;


--
-- Name: resultados_cuestionario resultados_cuestionario_modulo_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_cuestionario
    ADD CONSTRAINT resultados_cuestionario_modulo_id_foreign FOREIGN KEY (modulo_id) REFERENCES public.modulos(id) ON DELETE CASCADE;


--
-- Name: resultados_cuestionario resultados_cuestionario_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_cuestionario
    ADD CONSTRAINT resultados_cuestionario_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: resultados_evaluacion resultados_evaluacion_curso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_evaluacion
    ADD CONSTRAINT resultados_evaluacion_curso_id_foreign FOREIGN KEY (curso_id) REFERENCES public.cursos(id) ON DELETE CASCADE;


--
-- Name: resultados_evaluacion resultados_evaluacion_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_evaluacion
    ADD CONSTRAINT resultados_evaluacion_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_curso_en_progreso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_curso_en_progreso_id_foreign FOREIGN KEY (curso_en_progreso_id) REFERENCES public.cursos(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict J0Mc1f2n78o4oTkTLvYeV67nipp0WYoL4j0kQ929D58nO5Fdhm7iiegbh1AKgB9

